@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body{
  font-family: "Urbanist", sans-serif;
}

*{
  @apply transition-colors duration-200
}