body{
  font-family: "Urbanist", sans-serif;
}

.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 4em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.about{
  height: 90vh;
  margin: 0 auto;
  display: block;
}

.start{
  height: 60vh;
}

ion-icon{
  font-size: 3.5em;
}

.user{
  display: block;
  height: 78vh;
}


*{
  @apply transition-colors duration-200
}